
body {
    background: rgb(233, 183, 148);
    margin-left: 100px;
    margin-right: 200px;
}

header {
    margin-top: 100px;
}

h1 {
    color: rgb(121, 20, 214);
    font-family: sans-serif;
    font-family: fantasy;

}

h2 {
    color: rgb(140, 48, 226);
    font-family: sans-serif;
    font-family: fantasy;
}

p {
    color: rgb(161, 76, 240);
    font-family: sans-serif;
    font-family: fantasy;
    font-size: 18px;
}

footer {
    margin-bottom: 30px;
}
.img_padrao {
    margin-top: 20px;
    display: inline-block;
    width: 400px;
}

.img_parceiros {
    margin-top: 20px;
    width: 150px; 
}

.img_contato {
    margin-top: 10px;
    width: 50px;
}